<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    
    <div class="row" style="margin-top:7em">
        <div class="col-md-3 col-sm-6">
                <p style="text-align: center;font-size: 1.5em;">Walk Steps</p>
            <div class="progress blue" style="margin-top:4em">
                
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">50%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
               <p style="text-align: center;font-size: 1.5em;">Run</p>
            <div class="progress yellow" style="margin-top:4em">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
               <p style="text-align: center;font-size: 1.5em;">Sleep</p>
            <div class="progress green" style="margin-top:4em">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
              <p  style="text-align: center;font-size: 1.5em;">Heart Beats</p>
            <div class="progress red" style="margin-top:4em">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
        </div>
        
    </div>
</div>